*{
    margin: 0;
    padding: 0;
    background: #fff;
    font-size: 20px;
   
}
body{
    width: 100vw;
    height: 100vh;
    background: url("../imgs/背景.png") no-repeat ;
    background-size: 100% 100%;
    opacity: .95;
}
div{
    user-select: none;
}
/* 头样式 */
.boxtop{
  
    width: 100%;
  position: relative;
    height: 80px;
    background:#1f1f20;
    border-bottom: .1px solid #373738;
}

.boxtop div{
 
    position: relative;
    margin:30px auto;
  color: #d9d9d9;
  float: left;
  background:#1f1f20;
  margin-left: 35px;
 /* align-content: center; */
}

.boxtop div:hover strong{
background: #3e3f3f;

}
.rse{
    background: #3e3f3f;  
}

.tou{
    background:#1f1f20;
    color: aqua;
    margin:30px auto;
    float: left;

}


strong{
    
    background:#1f1f20;
    border-radius: 15px;
    padding: 10px;
    padding-left: 50px;
}
.boxtop>input[type="text"]{
    background: #202121;
    margin-top:32px;
    margin-left: 50px;
    color: #fff;
    width: 100px;
    transition: width 1s;
    float: left;
    border: .1 solid #fff;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 20px;
    font-size: 10px;
}
.boxtop>input[type="text"]:focus{
    position: relative;
    width: 200px;
   
    border:none;
}
.sy::after{
 
        content: '';
        width: 20px;
        height: 20px;
        background: url("../imgs/首页.png") no-repeat;
        background-size: 100% 100%;
        position: absolute;
        left: 10px;
        top: 5px;
    
}
.fl::after{
 
    content: '';
    width: 20px;
    height: 20px;
    background: url("../imgs/分类.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 10px;
    top: 5px;

}
.bq::after{
 
    content: '';
    width: 20px;
    height: 20px;
    background: url("../imgs/标签.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 10px;
    top: 5px;
}
.da::after{
 
    content: '';
    width: 20px;
    height: 20px;
    background: url("../imgs/档案.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 10px;
    top: 5px;
}
.gy::after,
.js::after,
.gr::after{
 
    content: '';
    width: 20px;
    height: 20px;
    background: url("../imgs/关于.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 10px;
    top: 5px;
}
.user{
    /* padding-left: 0px; */
    margin-right: 100px;
}


.chaz{
    float: left;
    margin:35px auto;
    width: 25px;
    height: 25px;
    background: url('../imgs/查找.png') no-repeat;
    background-size: 100% 100%;
    margin-left: 10px;
}

.yhtx{
    width: 40px;
    height: 40px;
    background: url('../imgs/头像.webp') no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    float: right;
    margin: 20px auto;
}
.yhtx:hover{
    width: 50px;
    height: 50px;
}

/* 首页 */
